{% extends "base.html" %}

{% block content %}
<header id="header" class="fixed-top header-transparent">
    <div class="container">

      <div class="logo float-left">
        <h1 class="text-light"><a href="index.html"><span>Django Honeypot</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/ssh">SSH</a></li>
          <li><a href="/telnet">Telnet</a></li>
          <li><a href="/icmp">ICMP</a></li>
          <li><a href="/admin">Login</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

   <!-- ======= Hero Section ======= -->
   <section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="animated fadeInDown">Welcome to <span>Django Honeypot</span></h2>
          <p class="animated fadeInUp">Django honeypot is a low-interaction TCP honeypot that logs connections from SSH, Telnet, and ICMP.</p>
          <a href="" class="btn-get-started animated fadeInUp">Read More</a>
        </div>
      </div>

    </div>
  </section><!-- End Hero -->

  <main id="main">

        <section class="features">
      <div class="container">

        <div class="section-title">
          <h2>Low-interaction Python Honeypot With Web Interface</h2>
          <p>Seperate honeypot scripts are run independently of Django using Celery, Redis, and Supervisor. Once connection is established network socket allows 1024 bytes of information to be recieved and closes out.</p>
        </div>

      </div>
    </section><!-- End Features Section -->

  </main><!-- End #main -->

    <!-- ======= Services Section ======= -->
    <section class="services">
      <div class="container">

        <div class="row">
          <div class="col-md-6 col-lg-4 d-flex flex-column">
            <div class="icon-box icon-box-pink">
              <div class="icon"><i class="bx bx-terminal"></i></div>
              <h4 class="title"><a href="">Total SSH Connections: {{ ssh_count }}</a></h4>
              <p class="description">SSH is one of the most popular attack vectors of botnets. It is not uncommon for servers to recieve thousands of malicious SSH attempts a day.</p>
              <a href="/ssh" class="btn btn-primary mt-4">View Logs</a>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 d-flex flex-column">
            <div class="icon-box icon-box-cyan">
              <div class="icon"><i class="bx bx-hdd"></i></div>
              <h4 class="title"><a href="">Total Telnet Connections: {{ telnet_count }}</a></h4>
              <p class="description">Telnet is a protocol often used by computer worms to spread. Most attack attempts are searching for vulnerable IOT devices like printers, cameras, etc.</p>
              <a href="/telnet" class="btn btn-primary mt-4">View Logs</a>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 d-flex flex-column">
            <div class="icon-box icon-box-green">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="">Total ICMP Requests: {{ icmp_count }}</a></h4>
              <p class="description">Before a connection from SSH or Telnet, a ping request is sometimes sent. Ping sweeps on a private network can also indicate malicious activity.</p>
              <a href="/icmp" class="btn btn-primary mt-4">View Logs</a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

{% endblock content %}